$primary-color: #f3a63e;
$lighter-color: #ffffff;
$light-color: #f5f5f5;
$dark-color: #2d2d2d;
$dark-color-10: #4e4e4e;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* TEMPLATE CLASSES */
.transition {
  transition: 0.1s ease-in;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.flexBetween {
  justify-content: space-between;
  align-items: center;
}
.flexStart {
  justify-content: flex-start;
  align-items: center;
}
.flexCenter {
  justify-content: center;
  align-items: center;
}
.sizeZero {
  width: 0px;
  height: 0px;
}

/* USED CLASSES */
.page {
  background-color: $lighter-color;
  max-width: 1200px;
  margin: 0 auto;
  min-width: 100%;
  @extend .flex;

  .header {
    width: 100%;
    padding: 20px 20px 0px 20px;
    @extend .flex, .flexBetween;

    .main {
      .app_title {
        font-size: 1.5rem;
      }

      .bradcrumb {
        margin-top: 10px;
        font-weight: 0.8rem;
      }
    }

    .cart {
      position: relative;

      button {
        background-color: $light-color;
        border: none;
        padding: 10px;
        &:hover {
          cursor: pointer;
        }
      }

      .cart_count {
        position: absolute;
        left: -10px;
        top: -10px;
        width: 20px;
        height: 20px;
        background-color: $primary-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .subheader {
    width: 100%;
    padding: 20px;
    @extend .flex, .flexBetween;

    .title {
      font-size: 1.2rem;
      font-weight: 700;
    }

    .search {
      width: 200px;
      @extend .flex, .flexBetween;

      input {
        height: 40px;
        width: calc(100% - 40px);
        padding: 10px;
        font-size: 1.1rem;
      }

      button {
        height: 40px;
        width: 40px;
        padding: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .items {
    width: 100%;
    @extend .flex, .flexStart;

    .item {
      overflow: hidden;
      padding: 10px;
      height: 250px;
      width: 25%;
      z-index: 1;
      @extend .flex, .flexStart, .transition;

      .left_column {
        width: 55%;
        height: 100%;
        background-color: transparent;

        .button_container {
          height: 50px;
          width: 100%;
          background-color: transparent;
          @extend .flex, .flexCenter;

          button {
            width: 100%;
            border: none;
            padding: 10px 20px;
            background-color: transparent;
            &:hover {
              cursor: pointer;
            }
          }
        }

        .image_container {
          height: calc(100% - 50px);
          padding: 0px 30px;
          @extend .transition;

          .image {
            width: 100%;
            height: 100%;
            background-color: #f5f5f5;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .right_column {
        width: 45%;
        height: 100%;
        position: relative;
        background-color: transparent;

        .interacting_details_background {
          position: absolute;
          top: 0px;
          right: 0px;
          background-color: $light-color;
          z-index: -1;
          @extend .transition, .sizeZero;
        }

        .interacting_buy_background {
          position: absolute;
          bottom: 0px;
          right: 0px;
          background-color: $primary-color;
          z-index: -1;
          @extend .transition, .sizeZero;
        }

        .button_container {
          height: 50px;
          width: 100%;
          background-color: transparent;
          z-index: 2;
          @extend .flex, .flexCenter;

          button {
            width: 100%;
            border: none;
            background-color: $light-color;
            color: $dark-color-10;
            padding: 10px;
            text-align: center;
            @extend .transition, .flex, .flexBetween;
            &:hover {
              cursor: pointer;
            }
          }
        }

        .description_container {
          padding-left: 10px;
          height: calc(100% - 50px);
          background-color: transparent;
          z-index: 2;

          .details_button {
            position: absolute;
            bottom: 120px;
            right: 10px;
            font-size: 0.9rem;
            &:hover {
              cursor: pointer;
            }
          }

          .price {
            width: 100%;
            text-align: right;
            font-weight: 700;
            font-size: 1.6rem;
            position: absolute;
            right: 10px;
            bottom: 60px;
          }
        }
      }

      &:hover {
        box-shadow: 0px 14px 38px -6px #00000082;

        .left_column .image_container {
          padding: 0px 15px;
        }

        .right_column {
          .button_container button {
            text-align: right;
            background-color: transparent;
            color: $lighter-color;
          }
          .price {
            color: $lighter-color;
          }
        }

        .interacting_details_background {
          width: 100%;
          height: 50%;
        }

        .interacting_buy_background {
          width: 100%;
          height: 50%;
        }
      }
    }
  }
}
