$primary-color: #f3a63e;
$lighter-color: #ffffff;
$light-color: #f5f5f5;
$dark-color: #2d2d2d;
$dark-color-10: #4e4e4e;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* TEMPLATE CLASSES */
.transition {
  transition: 0.1s ease-in;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.flexBetween {
  justify-content: space-between;
  align-items: center;
}
.flexStart {
  justify-content: flex-start;
  align-items: center;
}
.flexCenter {
  justify-content: center;
  align-items: center;
}
.sizeZero {
  width: 0px;
  height: 0px;
}

/* USED CLASSES */
.page {
  background-color: $lighter-color;
  max-width: 1200px;
  margin: 0 auto;
  min-width: 100%;
  @extend .flex;

  .header {
    z-index: 3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    padding: 20px 20px 0px 20px;
    background-color: $light-color;
    @extend .flex, .flexBetween;

    .main {
      .app_title {
        font-size: 1.5rem;
        &:hover {
          cursor: pointer;
        }
      }

      .breadcrumb {
        margin-top: 10px;
        font-weight: 0.8rem;
        @extend .flex, .flexStart;

        .breadcrumb_word {
          text-decoration: underline;
          font-style: italic;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .cart {
      position: relative;

      .loader {
        font-size: 0.5rem;
      }

      button {
        background-color: $light-color;
        border: none;
        padding: 10px;
        font-size: 2rem;
        &:hover {
          cursor: pointer;
        }
      }

      .cart_count {
        position: absolute;
        left: -10px;
        top: -10px;
        width: 20px;
        height: 20px;
        background-color: $primary-color;
        border-radius: 50%;
        @extend .flex, .flexCenter;
      }
    }
  }

  .subheader {
    z-index: 3;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    width: 100%;
    height: 80px;
    padding: 20px;
    background-color: $light-color;
    @extend .flex, .flexBetween;

    .title {
      font-size: 1.5rem;
      font-weight: 700;
      width: 300px;
      @extend .flex, .flexStart;

      .title_word {
        margin-left: 6px;
      }
    }

    .search {
      width: 200px;
      @extend .flex, .flexBetween;

      input {
        height: 40px;
        width: calc(100% - 40px);
        padding: 10px;
        font-size: 1.1rem;
      }

      button {
        height: 40px;
        width: 40px;
        padding: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  /* ITEMS LIST */
  .items {
    width: 100%;
    @extend .flex, .flexStart;

    .loading {
      width: 100%;
      height: 90vh;
      @extend .flex, .flexCenter;

      .loading_str {
        margin-right: 20px;
      }
    }

    .item {
      overflow: hidden;
      padding: 10px;
      height: 250px;
      width: 25%;
      z-index: 1;
      @extend .flex, .flexStart, .transition;

      .left_column {
        width: 55%;
        height: 100%;
        background-color: transparent;

        .button_container {
          height: 50px;
          width: 100%;
          background-color: transparent;
          @extend .flex, .flexCenter;

          button {
            width: 100%;
            border: none;
            padding: 10px 20px;
            background-color: transparent;
            &:hover {
              cursor: pointer;
              background-color: $light-color;
            }
          }
        }

        .image_container {
          height: calc(100% - 50px);
          padding: 0px 30px;
          @extend .transition;

          .image {
            width: 100%;
            height: 100%;
            background-color: transparent;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .right_column {
        width: 45%;
        height: 100%;
        position: relative;
        background-color: transparent;

        .interacting_details_background {
          position: absolute;
          top: 0px;
          right: 0px;
          background-color: $light-color;
          z-index: -1;
          @extend .transition, .sizeZero;
        }

        .interacting_buy_background {
          position: absolute;
          bottom: 0px;
          right: 0px;
          background-color: $primary-color;
          z-index: -1;
          @extend .transition, .sizeZero;
        }

        .button_container {
          height: 50px;
          width: 100%;
          background-color: transparent;
          z-index: 2;
          @extend .flex, .flexCenter;

          button {
            width: 100%;
            border: none;
            background-color: $light-color;
            color: $dark-color-10;
            padding: 10px;
            text-align: center;
            font-weight: bold;

            @extend .transition, .flex, .flexBetween;
            &:hover {
              cursor: pointer;
            }
          }
        }

        .description_container {
          padding-left: 10px;
          height: calc(100% - 50px);
          background-color: transparent;
          z-index: 2;

          .model {
            margin-top: 10px;
            font-weight: 600;
          }

          .brand {
            margin-top: 10px;
            font-weight: 400;
          }

          .details_button {
            position: absolute;
            bottom: 120px;
            right: 10px;
            font-size: 0.9rem;
            &:hover {
              cursor: pointer;
            }
          }

          .price {
            width: 100%;
            text-align: right;
            font-weight: 700;
            font-size: 1.6rem;
            position: absolute;
            right: 10px;
            bottom: 60px;
            color: $primary-color;
          }
        }
      }

      &:hover {
        box-shadow: 0px 14px 38px -6px #00000082;

        .left_column .image_container {
          padding: 0px 20px;
        }

        .right_column {
          .button_container button {
            text-align: right;
            background-color: transparent;
            color: $lighter-color;
          }
          .price {
            color: $lighter-color;
          }
        }

        .interacting_details_background {
          width: 100%;
          height: 50%;
        }

        .interacting_buy_background {
          width: 100%;
          height: 50%;
        }
      }
    }
  }

  /* ITEM DETAILS */
  .detail_page {
    width: 100%;
    position: relative;
    @extend .flex, .flexBetween;

    .gray_background_reactangle {
      position: absolute;
      width: 100%;
      height: 80px;
      bottom: 20vh;
      background-color: $light-color;
      z-index: 0;
    }

    .image_container {
      width: 30%;
      margin-left: 5%;
      height: calc(90vh - 160px);
      z-index: 1;
    }

    .details_container {
      width: 60%;
      height: calc(100vh - 160px);
      padding: 20px;
      z-index: 2;

      .title {
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        margin-bottom: 20px;
      }

      .content {
        width: 50%;
        float: left;
        margin-bottom: 10px;

        .label {
          color: $primary-color;
          font-weight: 700;
          margin-bottom: 5px;
        }
        .value {
          font-weight: normal;
        }
      }

      .actions {
        padding-top: 20px;
        display: block;
        width: 100%;
        height: auto;
        overflow: auto;
        select {
          padding: 4px;
          font-size: 1rem;
        }
      }

      .submit_container {
        button {
          background-color: $primary-color;
          color: $lighter-color;
          font-size: 1.5rem;
          padding: 10px;
          position: absolute;
          bottom: 20vh;
          right: 0;
          border: none;
          width: 200px;
          height: 80px;
          @extend .transition;
          &:hover {
            cursor: pointer;
            filter: brightness(1.2);
          }
        }
        .price {
          color: $primary-color;
          font-size: 3rem;
          font-weight: 700;
          position: absolute;
          bottom: calc(20vh + 20px);
        }
      }
    }
  }

  /* NOT FOUND PAGE */
  .not_found {
    width: 100%;
    height: 80vh;
    flex-direction: column;
    font-size: 2rem;
    @extend .flex, .flexCenter;

    button {
      width: 150px;
      margin-top: 20px;
      border: none;
      padding: 12px;
      background-color: $primary-color;
      color: $dark-color;
      font-size: 1rem;
      @extend .flex, .flexBetween;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
